<!DOCTYPE html>
<html lang="es">

  <body>
      <form action="" method="POST">
          <h5>Insertar query</h5>
          <div>
              <input type="text" name="centro" id ="centro" placeholder="centro">
          </div>
          <div>
              <input type="text" name="ubicacion" id ="ubicacion" placeholder="ubicacion">
          </div>
          <div>
            <input type="number" name="distancia" id ="distancia" placeholder="distancia">
        </div>
          <div>
              <button type="submit">Submit</button>
          </div>
      </form>
      <a href="{{ url_for('scraper') }}">Prueba scraper</a>
  </body>

</html>